@font-face {
    font-family: 'complete_in_him';
    src: asset-url('complete_in_him-webfont.woff2') format('woff2'),
         asset-url('complete_in_him-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #F6F6F6;
}

h1, h2, h3, h4 {
  color: #333;
}

textarea, input[type="text"], input[type="password"] {
  background-color: #fff;
  border: 1px solid #ccc;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app > section {
  flex: 1;
}

@media all and (max-width: 1050px) {
  .top-bar-container {
    width: 100%;
    min-width: 830px;
  }
}

@media all and (min-width: 1051px) {
  .top-bar-container {
    width: 80%;
  }
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.search-icon {
  padding: 10px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.image-container {
  padding: 15px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 35px;
}

.intro-image, .step-image {
  width: 100%;
  display: block;
}

.fun-font {
  font-family: complete_in_him;
}

.btn {
  padding: 9px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  border-color: #aaa;
}

.btn-orange {
  color: white;
  background: #E86C00;
  border-color: #CF6000;
  color: #fff;
}

.btn-orange:hover, .btn-orange:focus {
  outline: none;
  background-color: darken(#E86C00, 5%);
}

.btn-green {
  color: white;
  background: #5BB75B;
  border-color: #5BB75B;
}

.btn-green:hover, .btn-green:focus {
  outline: none;
  background-color: darken(#5BB75B, 5%);
}

.btn-red {
  color: white;
  background: #f00;
  border-color: darken(#f00, 15%);
}

.btn-red:hover, .btn-red:focus {
  outline: none;
  background-color: darken(#f00, 10%);
  border-color: darken(#f00, 20%);
}

.btn-gray {
  background-color: #eee;
}

.btn-gray:hover {
  background-color: #e6e6e6;
}

.btn-session-link {
  color: #777;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.btn-guest-login {
  float: right;
}

.btn-session-link:hover, .btn-session-link:focus {
  outline: none;
  text-decoration: underline;
}

.global-header {

  height: 100px;
  color: #333;

  a {
    text-decoration: none;
    color: #000;
  }

  .header-logo {
    display: block;
    position: absolute;
    margin-top: 4px;
    background-image: asset-url('robot.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80px;
    height: 80px;
  }

  .header-search-form {
    display: flex;
    align-items: center;
  }

  .header-search-label {
    font-size: 20px;
  }

  .header-search-input {
    width: 150px;
    padding: 4px 6px;
    font-size: 14px;
    border-radius: 4px 0 0 4px;
    height: 34px;
    box-sizing: border-box;
    margin-left: 6px;
  }

  .header-search-btn {
    padding: 4px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  .btn {
    float: left;
    margin-left: 20px;
  }

  .btn:first-child {
    margin-left: 0;
  }

  .top-bar {
    background: #EEE;
    height: 61px;

    .top-bar-container {
      margin: 0 auto;

      .site-title {
        float: left;
        font-size: 24px;
        padding: 4px;
        font-weight: bold;
        background: #FFF;
      }

      .search-bar, .header-nav {
        margin-left: 20px;
      }

      .login-nav, .current-user-nav {
        float: right;
      }
    }
  }

  .top-bar-nav {
    float: left;
    display: flex;
    align-items: center;
    height: 61px;
    margin-left: 70px;
  }

  .session-nav {
    float: right;
    display: flex;
    align-items: center;
    height: 61px;
  }

  .bottom-bar {
    height: 36px;
    background: #FFF;
    border-bottom: 1px solid #EEE;
  }

}
