@font-face {
    font-family: 'complete_in_him';
    src: asset-url('complete_in_him-webfont.woff2') format('woff2'),
         asset-url('complete_in_him-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .7;
  z-index: 9;
}

.modal {
  background: #FFF;
  z-index: 10;
  position: absolute;
  border: 1px solid #000;
  margin: 0 auto;
  width: 320px;
  border-radius: 6px;
  margin-left: -161px;
  left: 50%;

  h3 {
    font-size: 28px;
    font-family: complete_in_him;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    height: 28px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 6px;
  }

  button:hover {
    cursor: pointer;
  }

  .btn-submit {
    width: 100%;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #FFF;
    font-size: 17.5px;
    text-transform: capitalize;
    padding: 11px 19px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
  }

  .btn-login {
    background: #E86C00;
    border-color: #CF6000;
  }

  .btn-signup {
    background: #5BB75B;
    border-color: #5BB75B;
  }

  .btn-login:hover, .btn-login:focus {
    outline: none;
    background-color: darken(#E86C00, 5%);
  }

  .btn-signup:hover, .btn-signup:focus {
    outline: none;
    background-color: darken(#5BB75B, 5%);
  }

  .btn-close {
    background: transparent;
    float: right;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #CCC;
    margin: 9px 20px;
  }

  .btn-close:hover {
    color: #888;
  }

  .auth-errors {
    margin-bottom: 20px;
    color: #FFF;
    background: #B94A48;
    padding: 6px 4px;
    line-height: 14px;
    font-size: 11.844px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;

    li {
      margin-bottom: 4px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  .auth-form-header, .auth-form-footer {
    background: #F5F5F5;
  }

  .auth-form-header {
    padding: 9px 20px;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
  }

  .auth-form-footer {
    padding: 14px 20px;
    border-top: 1px solid #EEE;
    border-radius: 0 0 6px 6px;
    color: #777;
  }

  .auth-form-content {
    width: 280px;
    padding: 0 20px;
  }

}
