.cover-image {
  display: block;
  background-image: asset-url('covers/carrestoration.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.project-index-item {
  margin: 15px;
  border: 1px solid #ccc;
  background-color: #fff;

  .project-info-bar {
    padding: 10px;
  }
}

.project-index-item:hover {
  box-shadow: 1px 1px 2px 0 #ccc;
  border-color: #aaa;
}

.project-index {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
